# Environment
.env


# Database
*.db
*.sqlite3


# Python cache
__pycache__/
*.py[cod]


# Virtual environment
venv/
env/
.venv/


# IDE
.vscode/
.idea/


# Reports generated
reports/
backend/reports/*.pdf


# OS files
.DS_Store
Thumbs.db

# Docker
*.log